@media (min-width: 900px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .flex-col :last-child {
    margin-top: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  body {
    text-align: center;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .grid_1-1-1-1 img {
    align-self: stretch;
    object-fit: cover;
  }

  video {
    width: 100%;
    height: auto;
  }

  .divider {
    border-bottom: 1px solid black;
    display: block;
    margin: 30px auto;
  }
}

@media (min-width: 900px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    order: -1;
  }
}
